<template>
    <div>
        Roles Page
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    name: 'roles',
    methods: {
        ...mapActions('user',{
            index: 'index'
        })
    },
    created(){
        this.index();
    }

}
</script>