<template>
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        data-widget="pushmenu"
                        href="#"
                        role="button"
                        ><i class="fas fa-bars"></i
                    ></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle pt-1"
                        data-toggle="dropdown"
                        href="#"
                        aria-expanded="true"
                    >
                        <i class="far fa-user"></i>
                        <span>{{ current_user_name }} </span>
                    </a>
                    <div
                        class="dropdown-menu dropdown-menu-right"
                    >
                        <a class="nav-link" href="#" @click.prevent="logout">
                            <i class="fas fa-user"></i> Profile
                        </a>
                        <a class="nav-link" href="#" @click.prevent="logout">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <side-navigation />

        <div class="content-wrapper">
            <div class="p-3">
                <div class="container-fluid">
                    <slot />
                </div>
            </div>
        </div>

        <app-footer />
    </div>
</template>

<script>
import SideNavigation from "./SideNavigation";
import AppFooter from "./AppFooter";
import { mapActions, mapGetters } from "vuex";

export default {
    name: "base-layout",
    components: {
        SideNavigation,
        AppFooter
    },
    methods: {
        ...mapActions(["logout","current_user"]),
        getUser(){
            if(this.$route.name != 'login'){
                this.current_user();
            }
        }
    },
    computed: {
        ...mapGetters(['current_user_name'])
    },
    created(){
        this.getUser();
    }
};
</script>
