<template>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-inline">
            Powered by DocDevs.com
        </div>
        <strong
            >Copyright &copy; 2020
            <a href="https://adminlte.io">DocDevs</a>.</strong
        >
        All rights reserved.
    </footer>
</template>
