<template>
    <component :is="layout">
        <router-view :key="$route.path" />
    </component>
</template>

<script>
import AdminLayout from "../components/layout/AdminLayout";
import LoginLayout from "../components/layout/LoginLayout";
export default {
    name: "appLayout",
    components: {
        AdminLayout,
        LoginLayout
    },
    computed: {
        layout() {
            if (this.$route.name == "login") {
                return "login-layout";
            } else {
                return "admin-layout";
            }
        }
    },
};
</script>
