<template>
    <div>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs align-items-end card-header-tabs w-100">
                    <li class="nav-item">
                        <a class="nav-link active" href="http://ftg.test/fields"
                            ><i class="fa fa-users mr-2"></i>Users List</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://ftg.test/fields/create"
                            ><i class="fa fa-plus mr-2"></i>Create User</a
                        >
                    </li>
                    <div class="ml-auto d-inline-flex">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link  dropdown-toggle pt-1"
                                data-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                ><i class="fa fa-save"></i> Export
                            </a>
                            <div
                                class="dropdown-menu"
                                x-placement="bottom-start"
                                style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"
                            >
                                <a
                                    class="dropdown-item"
                                    id="exportCsvDatatable"
                                    href="#"
                                >
                                    <i class="fa fa-file-excel-o mr-2"></i
                                    >CSV</a
                                >
                                <a
                                    class="dropdown-item"
                                    id="exportExcelDatatable"
                                    href="#"
                                >
                                    <i class="fa fa-file-excel-o mr-2"></i
                                    >Excel</a
                                >
                                <div class="dropdown-divider"></div>
                                <a
                                    class="dropdown-item"
                                    id="exportPdfDatatable"
                                    href="#"
                                >
                                    <i class="fa fa-file-pdf-o mr-2"></i>PDF</a
                                >
                            </div>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link pt-1"
                                id="refreshDatatable"
                                href="#"
                                ><i class="fa fa-refresh"></i> Refresh</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link pt-1"
                                id="printDatatable"
                                href="#"
                                ><i class="fa fa-print"></i> Print</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link pt-1"
                                id="resetDatatable"
                                href="#"
                                ><i class="fa fa-undo"></i> Reset</a
                            >
                        </li>
                        <li
                            id="colVisDatatable"
                            class="nav-item dropdown keepopen"
                        >
                            <a
                                class="nav-link dropdown-toggle pt-1"
                                data-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                ><i class="fa fa-eye"></i> Columns
                            </a>
                            <div class="dropdown-menu">
                                <a
                                    class="dropdown-item text-bold"
                                    href="#"
                                    data-column="0"
                                >
                                    <i class="fa fa-check mr-2"></i>Name</a
                                >
                                <a
                                    class="dropdown-item text-bold"
                                    href="#"
                                    data-column="1"
                                >
                                    <i class="fa fa-check mr-2"></i>Image</a
                                >
                                <a
                                    class="dropdown-item text-bold"
                                    href="#"
                                    data-column="2"
                                >
                                    <i class="fa fa-check mr-2"></i>Markets</a
                                >
                                <a
                                    class="dropdown-item text-bold"
                                    href="#"
                                    data-column="3"
                                >
                                    <i class="fa fa-check mr-2"></i>Updated
                                    At</a
                                >
                                <a
                                    class="dropdown-item text-bold"
                                    href="#"
                                    data-column="4"
                                >
                                    <i class="fa fa-check mr-2"></i>Action</a
                                >
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</template>
